body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dbc95f;
}

.container {
  width: 350px;
  margin: 100px auto;
  text-align: center;
  background-color: rgb(70, 130, 158);
  padding: 20px;
  border-radius: 8px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #b03b3b;
}